@inject Transdim.Service.IGameStateService GameStateService;

<div class="row">
    @if (game.Players.Count > 0)
    {
        <div class="col-3 @GetActiveClass(game.Players[0])" style="background-color:burlywood">@GetScore(game.Players[0])</div>
    }
    @if (game.Players.Count > 1)
    {
        <div class="col-3 @GetActiveClass(game.Players[1])" style="background-color:pink">@GetScore(game.Players[1])</div>
    }
    @if (game.Players.Count > 2)
    {
        <div class="col-3 @GetActiveClass(game.Players[2])" style="background-color:lightcoral">@GetScore(game.Players[2])</div>
    }
    @if (game.Players.Count > 3)
    {
        <div class="col-3 @GetActiveClass(game.Players[3])" style="background-color:lightgoldenrodyellow">@GetScore(game.Players[3])</div>
    }
</div>

@functions {
    private Game game;

    protected override void OnInit()
    {
        game = GameStateService.GetGame();
        GameStateService.OnChange += StateHasChanged;
    }

    public int GetScore(Player player)
    {
        // TODO: move to controller
        var actions = game.GameActions.Where(action => action.Player.Id == player.Id);

        var score = 0;

        foreach (var action in actions)
        {
            score = score + action.Points;
        }

        return score;
    }

    public string GetActiveClass(Player player) =>
        (player.IsActive) ? "active" : "";
}