@using System.Timers;
@using Transdim.DomainModel.GameComponents;

@inject Transdim.Service.Services.IScoreAnimationService scoreAnimationService;
@inject Transdim.Service.Services.IGameStateService GameStateService;
@inject Transdim.Service.Services.IQueueManagementService QueueManagementService;

@if (showStatic)
{
    <div class="transdim-modal-container transdim-modal-active" onclick="@StartAnimation">

        <div class="points-modal-overlay"></div>
        <div class="row animation-container">
            <span class="col-12 text-center">
                <img class="scored-component" src="@imgSrc" asp-append-version="true" />
            </span>
            <span class="col-12 text-center">
                <img class="scored-points points-image" src="@pointsImgSrc" asp-append-version="true" />
            </span>
        </div>
    </div>
}
@if (showAnimated)
{
    <div class="transdim-modal-container transdim-modal-active" onclick="@StartAnimation">

        <div class="points-modal-overlay @(fadeOutAfterDisplay ? "animated-overlay" : string.Empty)"></div>
        <div class="row animation-container">
            <span class="col-12 text-center">
                <img class="scored-component animated-component" src="@imgSrc" asp-append-version="true" />
            </span>
            <span class="col-12 text-center">
                <img class="scored-points points-image animated-points" src="@pointsImgSrc" asp-append-version="true" />
            </span>

        </div>
    </div>
}

@functions {
    private bool showStatic = false;

    private bool showAnimated = false;

    private bool fadeOutAfterDisplay = true;

    private Timer timer;

    private string imgSrc;

    private string pointsImgSrc;

    private Game game;

    protected override void OnInit()
    {
        timer = new Timer(600);
        scoreAnimationService.OnScore += ShowScoredComponent;
        scoreAnimationService.OnFinishAnimation += OnFinishAnimation;
        GameStateService.OnChange += StateHasChanged;
    }

    public void ShowScoredComponent(IGameComponent gameComponent, int points)
    {
        imgSrc = gameComponent.ImagePath;

        var pointsString = (points < 10) ? "0" + points.ToString() : points.ToString();
        pointsImgSrc = $"/Images/points-{pointsString}.png";

        showStatic = true;
        showAnimated = false;
        StateHasChanged();
    }

    private void StartAnimation()
    {
        fadeOutAfterDisplay = !(QueueManagementService.PreviewNextEvent() is IUiComponentScoringEvent);

        showStatic = false;
        showAnimated = true;

        timer.Elapsed += FinishAnimation;
        timer.Enabled = true;

        StateHasChanged();
    }

    private void FinishAnimation(Object source, ElapsedEventArgs e)
    {
        Invoke(() =>
        {
            timer.Elapsed -= FinishAnimation;
            timer.Enabled = false;

            showStatic = false;
            showAnimated = false;
            fadeOutAfterDisplay = false;
            scoreAnimationService.FinishAnimation();
        });
    }

    private void OnFinishAnimation()
    {
        StateHasChanged();
    }
}