@page "/new-game"
@inject Transdim.Utilities.SetupNavigationUtility SetupNavigationUtility
@inject Transdim.Service.INewGameController NewGameController
@inject Transdim.Service.IFactionService FactionService

<h1>New Game</h1>

@for (int i = 0; i < game.Players.Count; i++)
{
    <NewPlayerControl Player="@game.Players[i]" Game="@game"></NewPlayerControl>
}

<div>
    <button disabled=@NewGameController.AddPlayerButtonIsDisabled(game) class="btn" onclick="@AddPlayer">Add player</button>
    <button disabled=@NewGameController.RemovePlayerButtonIsDisabled(game) class="btn" onclick="@RemovePlayer">Remove player</button>
</div>
<div>
    <button class="btn btn-primary" onclick="@StartGame">Start game</button>
</div>
@if (NewGameController.StartGameButtonIsDisabled(game))
{
    <div>
        <span class="alert alert-danger">Only one automa is allowed. All players must belong to different factions.</span>
    </div>
}


@functions {
    private Game game;

    protected override void OnInit()
    {
        game = NewGameController.InitializeGame();
        base.OnInit();
    }

    void StartGame()
    {
        if (NewGameController.StartGameButtonIsDisabled(game))
        {
            return;
        }
        NewGameController.StartGame(game);
        SetupNavigationUtility.NextStep(game);
    }

    void AddPlayer() => NewGameController.AddPlayer(game);
    void RemovePlayer() => NewGameController.RemovePlayer(game);
}
